// Global styles

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default-color;
  @extend %r400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1950px;
}

.main {
  flex-grow: 1;
  margin-top: -136px;
  background-color: $bg-color;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.title {
  margin-bottom: 60px;
  font-size: 36px;
  line-height: 43px;
  @include mq("1024") {
    font-size: 28px;
    line-height: 30px;
  }
  @extend %r500;
}

.logo {
  display: flex;

  &__img {
    margin-right: 10px;
    width: 41px;
    height: 42px;
  }

  &__text {
    @include txt(2);
    max-width: 155px;
  }
}

.hide {
  display: none;
}

.number {
  margin: 15px;

  &__top {
    display: flex;
    margin-bottom: 7px;
  }

  &__img {
    margin-right: 15px;
    width: 25px;
    height: 21px;
  }

  &__link {
    @include txt(2);
    display: block;
    max-width: 155px;
    font-size: 12px;
    line-height: 14px;
    color: $accent-color;
  }
}

.address {
  display: flex;
  margin-bottom: 15px;

  &__location {
    margin-right: 10px;
    width: 12px;
    height: 20px;

    &__text {
      @include txt(2);
      display: block;
      max-width: 350px;
    }
  }
}

.up {
  position: fixed;
  right: 30px;
  bottom: 30px;
  z-index: 999;
  width: 42px;
  height: 42px;
  transition: background-color 0.5s;
  cursor: pointer;

  &__icon {
    border-radius: 50%;
    max-width: 40px;
    max-height: 40px;
    fill: #000;
    background-color: #e5f4f3;
  }

  &:hover {
    background-color: $accent-color;
  }

  &.animated {
    animation-name: "up";
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
  }
}

.svgarrow,
.svglink {
  background-position: center center;
  background-repeat: no-repeat;
}

.svglink {
  background-position: left;
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: unset;
  right: 0;
  top: 50%;
  display: block;
  width: 200px;
  max-height: 20px;
  @include mq("1024") {
    left: 50%;
    right: 0;
    top: unset;
    bottom: 150px;
    transform: translateX(-50%);
  }
}

.swiper-pagination {
  transform: rotate(90deg);
  @include mq("1024") {
    transform: rotate(0);
  }
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #f8f8f8;
  opacity: 0.7;

  &-active {
    border: 2px solid #fff;
    width: 21px;
    height: 21px;
    background-color: $accent-color;
    opacity: 1;
  }
}

.swiper-container {
  min-height: 345px !important;
  @include mq("1024") {
    min-height: auto !important;
  }
}

.swiper-button-prev,
.swiper-button-next {
  position: relative;
  bottom: -40px;
  z-index: 1;
  width: 85px;
  height: 41px;
  background-color: #fff;
  @include mq("1024") {
    bottom: -30px;
  }
}

.swiper-button-next {
  left: 51.5%;
}

.swiper-button-prev {
  left: 41.5%;
  bottom: -60px;
  @include mq("1024") {
    left: 39%;
    bottom: -50px;
  }
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.6;
}
