// Global styles

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default-color;
  @extend %r400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1950px;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.title {
  font-size: 36px;
  line-height: 43px;
  @extend %r500;
}

.logo {
  display: flex;

  &__img {
    margin-right: 10px;
    width: 41px;
    height: 42px;
  }

  &__text {
    @include txt(2);
    max-width: 155px;
  }
}
