// Global styles

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: $default-color;
  @extend %r400;
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1950px;
}

.main {
  flex-grow: 1;
}

.container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1200px;
}

.title {
  font-size: 36px;
  line-height: 43px;
  @extend %r500;
}

.logo {
  display: flex;

  &__img {
    margin-right: 10px;
    width: 41px;
    height: 42px;
  }

  &__text {
    @include txt(2);
    max-width: 155px;
  }
}

.swiper-container-horizontal > .swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  left: unset;
  right: 0;
  top: 50%;
  display: block;
  width: 200px;
  max-height: 20px;
}

.swiper-pagination {
  transform: rotate(90deg);
}

.swiper-pagination-bullet {
  width: 20px;
  height: 20px;
  background-color: #f8f8f8;
  opacity: 0.7;

  &-active {
    border: 2px solid #fff;
    width: 22px;
    height: 22px;
    background-color: $accent-color;
    opacity: 1;
  }
}
