// Variables
$accent-color: #009688;
$default-color: #404040;
$bg-color: #efefef;

%r400 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

%r300 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
}

%r500 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}
