<!DOCTYPE html>
html(lang="ua")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title Клінічна лікарня №1
  body
    .wrapper
      include ../components/_header.pug
      main.main
        section.about 
          .container
            .about__content
              .about__text
                p Комунальне некомерційне підприємство "Вінницька міська клінічна лікарня №1" працює 24/7 та призначена для надавання цілодобової стаціонарної допомоги населенню, є потужним багатопрофільним стаціонарним лікувальним закладом, який забезпечує діагностику, догляд та лікування широкого кола невідкладних станів та надання вторинної допомоги в стаціонарних та амбулаторних умовах в цілодобовому режимі.

                p  Надання спеціалізованої медичної допомоги забезпечується потужим кадровим потенціалом. Штатний розпис складає 719, в тому числі: лікарі - 185, молодших спеціалістів з медичною освітою  - 293, молодшого медперсоналу - 137, інших працівників -  103. Ліжковий фонд лікарні розгорнуто на 285 ліжок.

                p Лікарня є базою шести кафедр Вінницького НМУ ім. М.І. Пирогова; кафедри пропедевтики внутрішньої медицини, кафедри загальної хірургії, кафедри інфекційних хвороб, кафедри внутрішньої медицини № 3, кафедри нервових хвороб, кафедри внутрішніх хвороб №2. Співробітники кафедр систематично проводять консультації та курацію хворих у всіх підрозділах лікарні. Лікарня є унікальною базою для лікавання та надання допомоги хворим.

              .about__picture
                img.about__img(src="images/dest/about/about.jpg", alt="Лікарня")

            .about__links
              a.about__medical(style="background-image: url('images/dest/about/about1.jpg')" href="#")
                span.about__info.about__info--black Поліклініка
                span.about__description.about__description--gray Медична допомога за 18 спеціальностями

              a.about__answers(style="background-image: url('images/dest/about/about2.jpg')" href="#")
                span.about__info Залишити відгук
                span.about__description Про нашу роботу

      include ../components/_footer.pug
    script(src="js/main.min.js")