<!DOCTYPE html>
html(lang="ua")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="css/style.min.css")
    title Клінічна лікарня №1
  body
    .wrapper
      include ../components/_header.pug
      main.main
        .overlay
        .modal
          .modal__inner
            form.modal__person(action="#")
              label.modal__label(for="#")
                sapn.modal__title Ім'я
                input.modal__input(type="text")

              label.modal__label(for="#")
                sapn.modal__title Ім'я
                input.modal__input(type="text")

              label.modal__label(for="#")
                sapn.modal__title Ім'я
                input.modal__input(type="text")
            
            form.modal__form(action="#")
              label.modal__label(for="#")
                span.modal__title Телефон
                input.modal__input(type="tel", name="(093)-111-11-11") 

              label.modal__label(for="#")
                span.modal__title Наявність направлення
                label.modal__box(for="#")
                  input.modal__check-item(type="radio", name="radio")
                  span.modal__checked
                  input.modal__check-item(type="radio", name="radio")
                  span.modal__checked

              label.modal__label(for="#")
                span.modal__title Номер направлення
                input(type="text", name="text") 1111-1111-1111-1111

          .modal__bottom
            label.modal__label(for="#")
              input.modal__checkbox(type="radio")
              span.modal__check
              span.modal__ok Згоден(а) на обробку персональних даних

            button.modal__btn(type="submit") Продовжити


            
        section.about 
          .container
            .about__content
              .about__text
                p Комунальне некомерційне підприємство "Вінницька міська клінічна лікарня №1" працює 24/7 та призначена для надавання цілодобової стаціонарної допомоги населенню, є потужним багатопрофільним стаціонарним лікувальним закладом, який забезпечує діагностику, догляд та лікування широкого кола невідкладних станів та надання вторинної допомоги в стаціонарних та амбулаторних умовах в цілодобовому режимі.

                p  Надання спеціалізованої медичної допомоги забезпечується потужим кадровим потенціалом. Штатний розпис складає 719, в тому числі: лікарі - 185, молодших спеціалістів з медичною освітою  - 293, молодшого медперсоналу - 137, інших працівників -  103. Ліжковий фонд лікарні розгорнуто на 285 ліжок.

                p Лікарня є базою шести кафедр Вінницького НМУ ім. М.І. Пирогова; кафедри пропедевтики внутрішньої медицини, кафедри загальної хірургії, кафедри інфекційних хвороб, кафедри внутрішньої медицини № 3, кафедри нервових хвороб, кафедри внутрішніх хвороб №2. Співробітники кафедр систематично проводять консультації та курацію хворих у всіх підрозділах лікарні. Лікарня є унікальною базою для лікавання та надання допомоги хворим.

              .about__picture
                img.about__img(src="images/about/about.jpg", alt="Лікарня")

            .about__links
              a.about__medical(style="background-image: url('images/about/about1.jpg')" href="#")
                span.about__info.about__info--black Поліклініка
                span.about__description.about__description--gray Медична допомога за 18 спеціальностями

              a.about__answers(style="background-image: url('images/about/about2.jpg')" href="#")
                span.about__info Залишити відгук
                span.about__description Про нашу роботу

        section.branch
          .container
            h2.title Відділення в лікарні
            .branch__container
              a.branch__link(href="#") Відділенння невідкладної медичної допомоги
              a.branch__link(href="#") Гастроентерологічне відділення
              a.branch__link(href="#") Неврологічне відділення
              a.branch__link(href="#") Ревматологічне відділення
              a.branch__link(href="#") Хірургічне відділення
              a.branch__link(href="#") Відділення анестезіології та реанімації
              a.branch__link(href="#") Інфекційне відділення
              a.branch__link(href="#") Пульмонологічне відділення
              a.branch__link(href="#") Терапевтичне відділення

        section.reviews
          .container
            .reviews__top
              h2.title.reviews__title Відгуки пацієнтів
              a.reviews__more(href="#") Переглянути всі відгуки
            
            .reviews__container.swiper-container
              .reviews__wrapper.swiper-wrapper
                .reviews__slide.swiper-slide
                  .reviews__content
                    .reviews__header
                      .reviews__name  Ковальчук Ірина
                      .rating
                        .rating__body 
                          .rating__active
                          form.rating__items
                            input.rating__item(type="radio" value="1" name="rating")
                            input.rating__item(type="radio" value="2" name="rating")
                            input.rating__item(type="radio" value="3" name="rating")
                            input.rating__item(type="radio" value="4" name="rating")
                            input.rating__item(type="radio" value="5" name="rating")
                        .rating__value 4.5
                      time.reviews__date 10.12.2020
                    .reviews__text
                      p Дуже відповідальний персонал, чудові херурги, травматологи, медсестри і санітарочки. Дійсно лікарі від Бога. Дякую за врятовану ручку Лікареві Чорному С.В.І ще велике -велике дякую лікареві, який був на зміні 23 .08 .20 (нажаль не знаю імені) Дякую за оперативність, за допомогу, за пораду. Після зміни не пішов додому ,щоб прооперувати мою доньку .Низький Вам уклін ,здоров'я Вам та Вашим родинам!

                .reviews__slide.swiper-slide
                  .reviews__content
                    .reviews__header
                      .reviews__name Ковальчук Ірина
                      .rating
                        .rating__body 
                          .rating__active
                          form.rating__items
                            input.rating__item(type="radio" value="1" name="rating")
                            input.rating__item(type="radio" value="2" name="rating")
                            input.rating__item(type="radio" value="3" name="rating")
                            input.rating__item(type="radio" value="4" name="rating")
                            input.rating__item(type="radio" value="5" name="rating")
                        .rating__value 5
                      time.reviews__date 10.12.2020
                    .reviews__text
                      p Дуже відповідальний персонал, чудові херурги, травматологи, медсестри і санітарочки. Дійсно лікарі від Бога. Дякую за врятовану ручку Лікареві Чорному С.В.І ще велике -велике дякую лікареві, який був на зміні 23 .08 .20 (нажаль не знаю імені) Дякую за оперативність, за допомогу, за пораду. Після зміни не пішов додому ,щоб прооперувати мою доньку .Низький Вам уклін ,здоров'я Вам та Вашим родинам!

                .reviews__slide.swiper-slide
                  .reviews__content
                    .reviews__header
                      .reviews__name Ковальчук Ірина
                      .rating
                        .rating__body 
                          .rating__active
                          form.rating__items
                            input.rating__item(type="radio" value="1" name="rating")
                            input.rating__item(type="radio" value="2" name="rating")
                            input.rating__item(type="radio" value="3" name="rating")
                            input.rating__item(type="radio" value="4" name="rating")
                            input.rating__item(type="radio" value="5" name="rating")
                        .rating__value 5
                      time.reviews__date 10.12.2020
                    .reviews__text
                      p Дуже відповідальний персонал, чудові херурги, травматологи, медсестри і санітарочки. Дійсно лікарі від Бога. Дякую за врятовану ручку Лікареві Чорному С.В.І ще велике -велике дякую лікареві, який був на зміні 23 .08 .20 (нажаль не знаю імені) Дякую за оперативність, за допомогу, за пораду. Після зміни не пішов додому ,щоб прооперувати мою доньку .Низький Вам уклін ,здоров'я Вам та Вашим родинам!

                .reviews__slide.swiper-slide
                  .reviews__content
                    .reviews__header
                      .reviews__name Ковальчук Ірина
                      .rating
                        .rating__body 
                          .rating__active
                          form.rating__items
                            input.rating__item(type="radio" value="1" name="rating")
                            input.rating__item(type="radio" value="2" name="rating")
                            input.rating__item(type="radio" value="3" name="rating")
                            input.rating__item(type="radio" value="4" name="rating")
                            input.rating__item(type="radio" value="5" name="rating")
                        .rating__value 4
                      time.reviews__date 10.12.2020
                    .reviews__text
                      p Дуже відповідальний персонал, чудові херурги, травматологи, медсестри і санітарочки. Дійсно лікарі від Бога. Дякую за врятовану ручку Лікареві Чорному С.В.І ще велике -велике дякую лікареві, який був на зміні 23 .08 .20 (нажаль не знаю імені) Дякую за оперативність, за допомогу, за пораду. Після зміни не пішов додому ,щоб прооперувати мою доньку .Низький Вам уклін ,здоров'я Вам та Вашим родинам!

              .reviews__btn.reviews__btn--prev.swiper-button-prev.svgarrow
              .reviews__btn.reviews__btn--next.swiper-button-next.svgarrow
        
        section.news
          .container
            .news__top
              h2.title.news__title Новини
              a.news__more(href="#") Переглянути всі новини
            .news__inner
              article.post
                a.post__link(href="#")
                .post__img-container
                  img.post__img(src="images/posts/p1.jpg", alt="Пост")

                h3.post__title Чому потреба носити медичну маску викликає у нас дискомфорт і як з цим впоратися?

                p.post__text Пандемія коронавируса змусила мільйони людей по всьому світу почати носити захисні маски.  Кому-то це додало відчуття спокою і захищеності від зараження вірусом, у інших же носіння маски викликає
              
                time.post__date 12.12.2020

              article.post
                a.post__link(href="#")
                .post__img-container
                  img.post__img(src="images/posts/p2.jpg", alt="Пост")

                h3.post__title Чому потреба носити медичну маску викликає у нас дискомфорт і як з цим впоратися?

                p.post__text Пандемія коронавируса змусила мільйони людей по всьому світу почати носити захисні маски.  Кому-то це додало відчуття спокою і захищеності від зараження вірусом, у інших же носіння маски викликає
              
                time.post__date 12.12.2020

              article.post
                a.post__link(href="#")
                .post__img-container
                  img.post__img(src="images/posts/p3.jpg", alt="Пост")

                h3.post__title Чому потреба носити медичну маску викликає у нас дискомфорт і як з цим впоратися?

                p.post__text Пандемія коронавируса змусила мільйони людей по всьому світу почати носити захисні маски.  Кому-то це додало відчуття спокою і захищеності від зараження вірусом, у інших же носіння маски викликає
              
                time.post__date 12.12.2020

              article.post
                a.post__link(href="#")
                .post__img-container
                  img.post__img(src="images/posts/p4.jpg", alt="Пост")

                h3.post__title Чому потреба носити медичну маску викликає у нас дискомфорт і як з цим впоратися?

                p.post__text Пандемія коронавируса змусила мільйони людей по всьому світу почати носити захисні маски.  Кому-то це додало відчуття спокою і захищеності від зараження вірусом, у інших же носіння маски викликає
              
                time.post__date 12.12.2020

              article.post
                a.post__link(href="#")
                .post__img-container
                  img.post__img(src="images/posts/p5.jpg", alt="Пост")

                h3.post__title Чому потреба носити медичну маску викликає у нас дискомфорт і як з цим впоратися?

                p.post__text Пандемія коронавируса змусила мільйони людей по всьому світу почати носити захисні маски.  Кому-то це додало відчуття спокою і захищеності від зараження вірусом, у інших же носіння маски викликає
              
                time.post__date 12.12.2020
        
        section.links 
          .container 
            h2.title Корисні посилання
            ul.links__list
              li.links__item
                img.links__img(src="images/partners/moz.svg", alt="")
                span.links__name Міністерство охорони здоров'я України
                a.links__more.svglink moz.gov.ua
              li.links__item

                img.links__img(src="images/partners/vmr.png", alt="")
                span.links__name Вінницька міська рада
                a.links__more.svglink vmr.gov.ua
              li.links__item

                img.links__img(src="images/partners/nszu.svg", alt="")
                span.links__name Національна служба здоров'я України
                a.links__more.svglink nszu.gov.ua
              li.links__item

                img.links__img(src="images/partners/vmr-2.svg ", alt="")
                span.links__name Департамент охорони здоров'я міської ради
                a.links__more.svglink vmr.gov.ua
  
      include ../components/_footer.pug
    script(src="js/main.min.js")