.about {
  margin-bottom: 150px;
  padding-top: 210px;
  @include mq("1024") {
    margin-bottom: 90px;
    padding-top: 150px;
  }

  &__content {
    display: flex;
    margin-bottom: 150px;
    @include mq("1024") {
      flex-wrap: wrap-reverse;
      justify-content: center;
      margin-bottom: 60px;
    }
  }

  &__text {
    margin-right: 30px;
    max-width: 468px;
    line-height: 19px;
    @include mq("1024") {
      margin: 30px;
      max-width: 90%;
    }

    p:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  &__links {
    display: flex;
    justify-content: center;
    @include mq("1024") {
      flex-wrap: wrap;
    }
  }

  &__answers {
    min-width: 470px;
    @include mq("1024") {
      flex-grow: 1;
    }
  }

  &__medical {
    flex-grow: 1;
    @include mq("1024") {
      margin-bottom: 25px;
    }
  }

  &__medical,
  &__answers {
    @include bg();
    display: block;
    margin-right: 30px;
    padding: 180px 50px 60px;
    min-height: 320px;
    transition: transform 0.5s, box-shadow 0.5s;

    &:hover {
      box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
      transform: scale(1.03);
    }
  }

  &__info {
    display: block;
    margin-bottom: 12px;
    font-size: 36px;
    line-height: 43px;
    color: #fff;
    @include mq("1024") {
      font-size: 28px;
      line-height: 30px;
    }
    @extend %r500;

    &--black {
      color: $default-color;
    }
  }

  &__description {
    color: #fff;

    &--gray {
      color: #ccc;
    }
  }
}
