.header {
  &__top {
    border-bottom: 1px solid #dfdfdf;
    padding: 10px 0;

    &-inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @include mq("1024") {
        flex-direction: column;
      }
    }
  }

  &__nav {
    &-list {
      display: flex;
      flex-wrap: wrap;
    }

    &-item {
      &:not(:last-child) {
        margin-right: 28px;
      }
    }

    &-link {
      @include txt(1);
      display: block;
      max-width: 200px;
      font-size: 14px;
      line-height: 17px;
      color: $default-color;
      transition: color 0.4s;

      &:hover {
        color: $accent-color;
      }
      @extend %r300;
    }
  }

  &__register {
    padding: 27px 0;
    @include mq("768") {
      display: none;
    }

    &-inner {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      @include mq("1024") {
        justify-content: space-evenly;
      }
    }

    &-btn {
      display: flex;
    }

    &-link {
      display: flex;
      align-items: center;
      border-radius: 20px;
      min-height: 42px;
      max-width: 250px;
      background-color: #e6edff;

      &:hover {
        .header__register-text {
          color: $default-color;
        }
      }

      &--check {
        background-color: #e5f4f3;
      }
    }

    &-logo {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 15px 0 10px;
      border-radius: 50%;
      min-width: 32px;
      min-height: 32px;
      background-color: #1050ff;

      &--check {
        background-color: $accent-color;
      }
    }

    &-img {
      &--facebook {
        width: 10px;
        height: 19px;
      }

      &--check {
        width: 21px;
        height: 16px;
      }
    }

    &-text {
      @include txt(2);
      display: block;
      margin-right: 20px;
      max-width: 180px;
      color: #1050ff;
      transition: color 0.6s;

      &--check {
        color: $accent-color;
      }
    }
  }

  &__img {
    position: relative;
    z-index: 1;
    min-height: 787px;
    max-height: 788px;
    object-fit: cover;
  }

  &__owerlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.3);
  }

  &__text {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    display: flex;
    align-items: center;
  }

  &__title,
  &__subtitle {
    display: inline-block;
    font-size: 56px;
    line-height: 67px;
    color: #fff;
    @include mq("1024") {
      font-size: 40px;
      line-height: 44px;
    }
    @include mq("768") {
      font-size: 32px;
      line-height: 36px;
    }
    @extend %r500;
  }

  &__subtitle {
    margin-top: 35px;
    font-size: 24px;
    line-height: 29px;
    @include mq("1024") {
      font-size: 22px;
      line-height: 26px;
    }
    @include mq("768") {
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__content {
    position: relative;
    left: 50%;
    bottom: 70px;
    z-index: 3;
    max-width: 1200px;
    transform: translateX(-50%);
  }

  &__info {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    padding: 20px 0 24px;
    max-width: 1170px;
    box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
    background-color: #fff;

    &:hover {
      .header__info-item {
        border-color: $accent-color;
      }
    }

    &-item {
      border-bottom: 1px solid transparent;
      padding: 10px;
      transition: border-color 0.4s;
      @include mq("1024") {
        width: calc(100% - 70%);
      }
    }

    &-top {
      display: flex;
      margin-bottom: 5px;
    }

    &-number {
      display: inline-block;
      margin-right: 20px;
      font-size: 36px;
      line-height: 43px;
      @extend %r500;
    }

    &-img {
      max-width: 50px;
      max-height: 36px;
    }

    &-text {
      display: block;
      max-width: 170px;
      line-height: 19px;
      text-align: center;
    }
  }
}
