.menu {
  padding: 15px 0;
  background-color: $accent-color;

  &__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__btn {
    display: none;
    @include mq("768") {
      display: block;
    }
  }

  &__img {
    width: 24px;
    height: 12px;
  }

  &__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__item:not(:last-child) {
    margin-right: 30px;
    @include mq("1024") {
      margin-right: 20px;
    }
  }

  &__link {
    @include txt(2);
    display: block;
    max-width: 200px;
    line-height: 19px;
    color: #fff;
    transition: color 0.4s;

    &:hover {
      color: $default-color;
    }
  }

  &__covid {
    @include mq("1024") {
      display: none;
    }
    // @include mq("768") {
    //   display: block;
    // }
  }

  &__pic {
    width: 102px;
    height: 21px;
  }

  &.hide {
    transform: translateX(-100%);
  }
  @include mq("768") {
    position: relative;
    transition: transform 0.6s;
  }
}
