.reviews {
  @include bg($size: contain);
  margin-bottom: 150px;
  background-image: url("../images/decor-3.png");
  @include mq("1024") {
    margin-bottom: 90px;
  }

  &__top {
    display: flex;
    justify-content: space-between;
  }

  &__more {
    @include txt(1);
    display: block;
    padding-top: 20px;
    max-width: 250px;
    max-height: 50px;
    color: $accent-color;
    transition: color 0.4s;

    &:hover {
      color: $default-color;
    }
  }

  &__slide {
    border: 2px solid #fff;
    padding: 32px 30px 44px;
    max-width: 50%;
    box-sizing: border-box;
    background-color: #fff;
    transition: border-color 0.5s;
    @include mq("1024") {
      min-width: 100%;
    }

    &:hover {
      border-color: $accent-color;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }

  &__name {
    margin-right: 20px;
    @extend %r500;
  }

  &__date {
    margin-left: auto;
    color: #dfdfdf;
  }

  &__text {
    @include txt(8);
    max-width: 510px;
    line-height: 19px;
    @include mq("1024") {
      min-width: 85%;
    }
  }

  &__btn {
    &--prev {
      transform: rotate(180deg);
    }
    @include mq("1024") {
      display: none;
    }
  }
}
