footer.footer
  .container
    .footer__inner
      .footer__links
        span.footer__title Відділення
        ul.footer__list
          li.footer__item
            a.footer__link(href="#") Відділенння невідкладної медичної допомоги

          li.footer__item
            a.footer__link(href="#") Гастроентерологічне відділення

          li.footer__item
            a.footer__link(href="#") Інфекційне відділення

          li.footer__item
            a.footer__link(href="#") Неврологічне відділення

          li.footer__item
            a.footer__link(href="#") Пульмонологічне відділення

          li.footer__item
            a.footer__link(href="#") Ревматологічне відділення

          li.footer__item
            a.footer__link(href="#") Терапевтичне відділення

          li.footer__item
            a.footer__link(href="#") Хірургічне відділення

          li.footer__item
            a.footer__link(href="#") Поліклініка

      .footer__links
        span.footer__title Пацієнту
        ul.footer__list
          li.footer__item
            a.footer__link(href="#") Платні послуги

          li.footer__item
            a.footer__link(href="#") Відгуки і питання

          li.footer__item
            a.footer__link(href="#") Історія лікарні

          li.footer__item
            a.footer__link(href="#") Керівництво

          li.footer__item
            a.footer__link(href="#") Використання коштів

          li.footer__item
            a.footer__link(href="#") Новини

          li.footer__item
            a.footer__link(href="#") Covid - 19

          li.footer__item
            a.footer__link(href="#") Контакти
      
      .footer__info
        .logo.footer__logo
          a.logo__link(href="./")
            svg.logo__img
              use(xlink:href="images/sprite.svg#logo")
          p.logo__text Вінницька міська клінічна лікарня №1
        
        .number.footer__number
          .number__top
            svg.number__img
              use(xlink:href="images/sprite.svg#landline")
            span.header__telephone (0432) 56-01-10

          a.number__link(href="#") Реєстратура поліклініки

        .number.footer__number
          .number__top
            svg.number__img
              use(xlink:href="images/sprite.svg#landline")
            span.header__telephone (0432) 56-01-17

          a.number__link(href="#") Приймальна

        address.address.footer__address
          svg.address__location
            use(xlink:href="images/sprite.svg#location")
          span.address__location-text м. Вінниця, вул. Хмельницьке шосе, 96

        .footer__media
          a.footer__media-link(href="#")
            svg.footer__media-img
              use(xlink:href="images/sprite.svg#facebook2")

          a.footer__media-link(href="#")
            svg.footer__media-img
              use(xlink:href="images/sprite.svg#viber")


  .footer__bottom
    .container
      span © Вінницька медична лікарня №1